/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Acme&family=Smokum&family=Ubuntu&display=swap');


/* Document Styling */

  html {
    background-image: url(./components/background.gif);
    background: stretch;
    background-position: center center fixed;
    background-repeat: no-repeat;
    background-color: #E0D8AE;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* Header Styling */
  .header{
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #E0D8AE;
  }

  .logo {
    max-height: 100%;
    max-width: 35%;
    display: inline;
    padding-top: 15px;
  }

  .nav {
    float: right;
    list-style: none;
    font-family: 'Smokum', cursive;
    font-size: 25px;
  }

  .nav li, .nav a {
    display: inline;
    padding: 5px;
    text-decoration: none;
    color: #FB8F33;
    margin: auto 0;
  }

  .nav-button {
    background: none;
    border: none;
    display: inline;
    font-family: 'Smokum', cursive;
    font-size: 25px;
    color: #FB8F33;
  }

/* Search Styling */

  .search-container{
    text-align: center;
    padding-top: 150px;
    height: auto;
    margin-bottom: 200px;
    overflow: hidden;
  }
  .results {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    background: #E0D8AE;
    margin: 5px;
    border-radius: 10px;
    max-width: 100px;
    height: 200px;
    color: #FB8F33;
    font-family: 'Smokum', Cursive;
    overflow: hidden;
    border: #FB8F33 solid 2px;
    padding-bottom: 10px;
  }

  .results a{
    color: #FB8F33;
    font-family: 'Smokum', Cursive;
    font-size: 20px
  }
  .intro-text{
    padding-bottom: 100px;
    font-family: 'Diplomata', cursive;
    color: #FB8F33
  }
  
  .search-info, .message {
    font-family: 'Smokum', cursive;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff9eb;
  }

  #search-input {
    text-align: center;
    width: 250px;
    height: 25px;
    border: #FB8F33 solid 2px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #E0D8AE
  }
  .results-container {
    height: auto;
    margin-bottom: 10px;
  }
  .drink-thumbnail {
    max-height: 100px
  }
  /*Show and Hide for Loading GIF*/
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }

/* Recipe Styling */
  .recipe-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .drink-image{
    max-height: 300px;
  }

  .ingredients{
    list-style-type: none;
  }

  .header-li {
    list-style-type: none;
    text-decoration: underline;
  }

/* Profile Styling */
  .profile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }












/* Footer Styling */
  .footer-container {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    color: #FB8F33;
    font-family: 'Smokum', Cursive;
    max-height: 150px;
    background-color: #E0D8AE;
    font-size: 20px;
    margin-top: 100px;
  }

  .footer-container a {
    text-decoration: none;
    color: #FB8F33;
    font-family: 'Smokum', Cursive;
    font-size: 25px;
  }