/* Document Styling */

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(./components/background1.jpg);
    background-size: fill;
    background-position: center center;
    background-repeat: no-repeat;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/* Header Styling */
  .header{
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: lightgrey;
  }

  .logo {
    max-height: 100%;
  }

  .nav {
    float: right;
    list-style: none;
  }

  .nav li {
    display: inline;
    padding: 5px;
  }

/* Search Styling */
  /* !!! Would like this to display in a grid, dependent on media size */
  /* .search-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: scroll;
  } */
  .search-container{
    text-align: center;
  }

  .drink-thumbnail {
    max-height: 100px
  }
  /*Show and Hide for Loading GIF*/
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }

/* Recipe Styling */
  .recipe-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .drink-image{
    max-height: 300px;
  }

  .ingredients{
    list-style-type: none;
  }

  .header-li {
    list-style-type: none;
    text-decoration: underline;
  }

/* Profile Styling */
  .profile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }












/* Footer Styling */
  .footer-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    padding-top: 15px;
  }